.birthdayField {
  margin-bottom: 20px;
}
.birthdayField > div > div > div {
  display: flex!important;
}
.birthdayField > div > div {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
}
.birthdayField > div > div > div > span{
  padding-top: 1.5px!important;
  margin-right: -1px!important;
  margin-left: 1.5px!important;
}

.calendar {
  font-family: Arial, sans-serif;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Estilos adicionales para mejorar la apariencia del DatePicker */
/* .datePicker input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.datePicker button {
  padding: 8px;
} */